@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
    font-family: 'Source Sans Pro', sans-serif;
}

    /*---------------
    tag selectors
---------------*/

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.75em;
}

h5 {
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
}

code {
    display: inline;
    color: #222;
    background-color: #888;
    padding: 0px 5px;
    border-radius: 3px;
}

    /*-----------------
    class selectors
-----------------*/
